<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:fragment="libs">
        <link rel="stylesheet" th:href="@{${bulmaPath}}"/>
        <link rel="stylesheet" th:href="@{${bulmaCarouselCssPath}}"/>
        <link rel="stylesheet" th:href="@{${fontsPath}}"/>
        <link rel="stylesheet" href="/css/common/hovers.css"/>
        <link rel="stylesheet" href="/css/common/login.css"/>
        <script th:src="@{${jqueryPath}}"></script>
        <script th:src="@{${bulmaCarouselJsPath}}"></script>
    </th:block>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar" role="navigation">

        <div class="navbar-brand">
            <span class="icon-text">
                <span class="icon is-large mt-3 ml-3">
                    <!--<i class="fab fa-accessible-icon fa-3x" style="color:#45a321"></i>-->
                    <a href="/">
                        <img src="/logo.png" style="width:50px;height:50px;">
                    </a>
                </span>
            </span>
        </div>

        <div class="navbar-menu">

            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <div class="navbar-item">
                    <input class="input" type="text" placeholder="szukaj" style="border-color:#45a321">
                </div>
            </div>

            <div class="navbar-end">
                <div th:if="${user != null}" class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <div class="button" style="background-color:#45a321;color: white;white-space: pre">Zalogowany jako <span th:text="${user.login}" style="color: white"></span></div>
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/userSite">
                            Profile
                        </a>
                        <a class="navbar-item" onclick="submitLogout()">
                            Logout
                        </a>
                    </div>
                </div>

                <div th:if="${user == null}" class="navbar-item">
                    <div class="buttons">
                        <a class="button" style="background-color:#45a321; color: white" onclick="turnRegisterOn()">
                            <strong>Rejestracja</strong>
                        </a>
                        <a class="button is-light" id="loginButton" onclick="turnLoginOn()">
                            <strong>Logowanie</strong>
                        </a>
                    </div>
                </div>
                <div class="navbar-item">
                    <a class="button is-light" href="/cart">
                        <span class="icon is-large">
                            <i class="fas fa-shopping-cart fa-2x"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div th:if="${user == null}" class="modal" id="loginModal">
        <div class="modal-background" id="lbg" onclick="turnLoginOff()"></div>
        <div class="modal-card">
            <form class="box" onsubmit="return false">
                <div class="field">
                    <label class="label">Nazwa użytkownika</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="nazwa użytkownika" id="username">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Hasło</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="********" id="password">
                    </div>
                </div>

                <button class="button is-primary" style="background-color: #45a321" onclick="submitLogin()">Zaloguj</button>
            </form>
        </div>
    </div>

    <div th:if="${user == null}" class="modal" id="registerModal">
        <div class="modal-background" id="rbg" onclick="turnRegisterOff()"></div>
        <div class="modal-card">
            <form class="box" onsubmit="return false">
                <div class="field">
                    <label class="label">Podaj email</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="email" id="mail">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Nazwa użytkownika</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="nazwa użytkownika" id="usernameReg">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Hasło</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="********" id="passwordReg1">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Powtórz hasło</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="********" id="passwordReg2">
                    </div>
                </div>

                <button class="button is-primary" style="background-color: #45a321" onclick="submitRegister()">Zarejestruj</button>
            </form>
        </div>
    </div>
    <script src="/js/common/login.js"></script>
    <script src="/js/common/register.js"></script>
</div>

<div th:fragment="navBar">
        <div class="navbar-menu" style="flex-grow: 1; justify-content: center;">
            <div class="navbar-item has-dropdown is-hoverable" th:each="entry: ${categories}">
                <a class="navbar-link">
                    <span th:text="${entry.key}" :hover{color:green}></span>
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" th:each="sub: ${entry.value}" th:href="@{/categorySite(subCategoryId=${sub.id})}" th:text="${sub.name}">
                        <span th:text="${sub.name}"></span>
                    </a>
                </div>
            </div>
        </div>
</div>
</body>
</html>