<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="fragments/common.html :: libs"/>
</head>
<body>
<th:block th:replace="fragments/common.html :: header"/>
<th:block th:replace="fragments/common.html :: navBar"/>
<br>
<br>
<br>
<div class="container" >
    <img class="mySlides" src="/banners/carouselPhoto1.png" width="1344">
    <img class="mySlides" src="/banners/carouselPhoto2.png" width="1344">
    <img class="mySlides" src="/banners/carouselPhoto3.png" width="1344">
</div>
<script src="/js/homeSite/slideshow.js"></script>
</body>
</html>