<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:href="http://www.w3.org/1999/xhtml">
<head>
    <title>Strona zmiany hasła</title>
    <meta charset="UTF-8">
    <th:block th:replace="fragments/common.html :: libs"/>
    <link rel="stylesheet" href="/css/userSite/userStyle.css"/>
</head>
<body>
    <th:block th:replace="fragments/common.html :: header(user=${user})" />
    <th:block th:replace="fragments/common.html :: navBar" />
    <h1 class="content">Zmiana hasła</h1>
    <hr class="rcorners1" style="width: 80%;">
    <br>
</body>
</html>