<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:href="http://www.w3.org/1999/xhtml">
<head>
    <title>Strona panelu użytkownika</title>
    <meta charset="UTF-8">
    <th:block th:replace="fragments/common.html :: libs"/>
    <link rel="stylesheet" href="/css/userSite/userStyle.css"/>
</head>
<body>
    <th:block th:replace="fragments/common.html :: header(user=${user})" />
    <th:block th:replace="fragments/common.html :: navBar" />
    <br>
    <h1 class="content">Panel użytkownika</h1>
    <hr class="rcorners1" style="width: 80%;">
    <br>
    <h1 class="insideContent"><a href="userSite/changeAddress">Zmień adres email&emsp;</a><a href="userSite/changePassword">Zmień hasło&emsp;</a><a th:if="${user != null && user.login == 'admin'}" href="form">Dodaj produkt</a></h1>
    <br><br>
    <h1 class="content">Historia zamówień</h1>
    <hr class="rcorners1" style="width: 80%;">
    <br>
    <div id="orderTable"/>
    <script src="js/userSite/userSite.js"></script>
</body>
</html>